@model IEnumerable<Herz.Models.User>

@{
    ViewBag.Title = "User";
}

<h2>Blogs</h2>

<p>
    <a asp-controller="FirstController" asp-action="Create">Create New</a>
</p>

<table class="table">
    <tr>
        <th>Name</th>
        <th>Surname</th>
    </tr>

 
        <tr>
   
        </tr>

</table>


